@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Serif+TC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@keyframes animate1 {
  0% {
    top: 5%;
    transform: rotate(90deg);
  }
  50% {
    top: 30%;
    left: 5%;
    transform: rotate(180deg);
  }
  100% {
    top: 5%;
    transform: rotate(90deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes animate3 {
  0% {
    top: 20%;
    transform: rotate(90deg);
  }
  25% {
    top: 25%;
    right: 20%;
  }
  50% {
    top: 40%;
    right: 30%;
    transform: rotate(270deg);
  }
  75% {
    top: 25%;
    right: 20%;
  }
  100% {
    top: 20%;
    right: 10%;
    transform: rotate(90deg);
  }
}
@keyframes scale {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(102%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  position: relative;
}
body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  top: 0;
  left: 0;
}
body .circle1 {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -1;
  left: 0%;
  top: 0%;
  animation: animate1 10s ease-in infinite;
}
body .circle2 {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: -1;
  right: 10%;
  top: 30%;
  animation: animate3 12s ease-in infinite;
}
body .scroll-top {
  background-color: rgb(129, 192, 242);
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 50;
  transition: all 0.2s ease;
}
body .scroll-top:hover {
  background-color: rgb(45, 150, 233);
}
@media screen and (max-width: 768px) {
  body .circle1 {
    width: 100px;
    height: 100px;
  }
  body .circle2 {
    width: 250px;
    height: 250px;
  }
}
body nav .navbar {
  position: fixed;
}
body nav .dropdown-menu li a {
  transition: all 0.2s ease;
}
body nav .dropdown-menu li a:hover {
  font-weight: 500;
}
body nav .offcanvas-header a {
  transition: all 0.2s ease;
  text-decoration: none;
  color: black;
}
body nav .offcanvas-header a:hover {
  scale: 105%;
}
body main {
  z-index: 2;
}
body main section.main-area {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
body main section.main-area h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
body main section.main-area .info {
  padding: 2rem;
  text-align: center;
}
body main section.main-area .info .notice {
  text-align: center;
  padding: 0 0.5rem;
  font-weight: bold;
  animation: scale 1.2s ease-in infinite;
}
body main section.main-area .info .social-media {
  display: flex;
  gap: 2px;
  justify-content: end;
  align-items: center;
}
body main section.main-area .info .social-media img {
  transition: all 0.2s ease;
  width: 3vw;
  height: 5vh;
}
body main section.main-area .info .social-media img:hover {
  scale: 110%;
  animation: rotate 1s ease-in infinite;
}
body main section.about-me {
  padding: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}
body main section.about-me h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
body main section.about-me h4 {
  font-size: 1.2rem;
}
body main section.about-me h6 {
  font-size: 1rem;
}
body main section.about-me .description {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: 800;
  border-radius: 10px;
  padding: 1rem;
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1 400px;
}
body main section.about-me .description section.skills {
  width: 80%;
}
body main section.about-me .description .my-education {
  width: 100%;
}
body main section.about-me .description .my-education .period {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
body main section.about-me .description .my-education .period .school {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main section.about-me .my-photo {
  width: 40%;
  height: 90vh;
  display: flex;
  flex: 1 1 500px;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main section.about-me .my-photo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 30px 25px;
}
body main section.paragraph {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
body main section.paragraph h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
body main section.paragraph h4 {
  line-height: 1.8rem;
  font-size: 1rem;
}
body main section.experience {
  background-image: url("../images/concrete-wall-3.png");
  padding: 5rem 10rem;
}
body main section.experience h3 {
  font-size: 1.5rem;
}
body main section.experience h2 {
  font-size: 1.2rem;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  body main section.main-area {
    padding: 5px;
  }
  body main section.main-area h1 {
    font-size: 1.5rem;
  }
  body main section.main-area .info .social-media {
    justify-content: center;
  }
  body main section.main-area .info .social-media img {
    height: 5vh;
    width: 10vw;
  }
  body main section.about-me {
    padding: 2rem;
  }
  body main section.about-me .period {
    flex-direction: column;
    gap: 1rem;
  }
  body main section.about-me .my-photo {
    height: 60vh;
  }
  body main section.about-me .my-photo img {
    height: 50vh;
  }
  body main section.paragraph {
    padding: 2rem 2rem;
    color: white;
  }
  body main section.paragraph .p-bg {
    padding: 2rem 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body main section.experience {
    padding: 2rem 2rem;
  }
  body main section.experience ul {
    padding: 0 1rem;
  }
}
body footer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
body footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
body footer .contact .contact-information {
  display: flex;
  gap: 1rem;
}
body footer .footer-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
body footer .footer-logo h6 {
  color: white;
}
body footer .footer-logo img {
  transition: all 0.2s ease;
  width: 5vw;
  animation: animate2 2s ease-in infinite;
}
body footer .footer-logo img:hover {
  scale: 110%;
}
@media screen and (max-width: 768px) {
  body footer section.contact h6 {
    font-size: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */